<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 对Spring工厂创建的对象，进行再加工 -->
    <bean id="category" class="com.zhengl.spring.beanpostprocessor.Category">
        <property name="id" value="1"/>
        <property name="name" value="xiaojr"/>
    </bean>

    <bean id="myBeanPost" class="com.zhengl.spring.beanpostprocessor.MyBeanPostProcessor"/>


    <bean id="userService" class="com.zhengl.spring.factory.UserServiceImpl"/>

    <bean id="proxyBeanPostProcessor" class="com.zhengl.spring.factory.ProxyBeanPostProcessor"/>
</beans>
